@font-face {
    font-family: charter;
    src: url('../fonts/fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161; 
}

body {
    color: var(--gray30);
    font-family: charter;
}

a {
    color: var(--gray30);
}

header {
    font-size: 14px;
    color: var(--gray10);
}

header a {
    color: var(--gray10);
    text-decoration: none;
}
header a:hover {
    color: var(--gray30);
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

pre {
    background-color: #fec62e;
    inline-size: 50em;
    block-size: 15em;
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .2), transparent), url('../images/pattern.png');
    height: 350px;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: var(--gray30);
    display: block;
}